.dashboard {
  width: 100%;
  min-height: calc( 100vh - 150px );
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  place-items: center;
  gap: 64px 0px;
  padding:80px 120px;
}
