.dashboard {
  width: 100%;
  min-height: calc( 100vh - 150px );
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  place-items: center;
  gap: 64px 0px;
  padding:120px 120px 40px 120px;
  position: relative;
}
