.dashboard {
  width: 100%;
  min-height: calc( 100vh - 150px );
  border: solid var(--color-violet);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}
