.card {
  width: 296px;
  height: 296px;
  background: var(--background-color-elements);
  position: relative;
  padding: 32px 16px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.card .logo-card {
  position: absolute;
  top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.card .info span {
  font-size: 1rem;
}
.card .info .dot {
  margin: 4px 10px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: var(--color-dark-grey);
}
.card .position {
  font-size: 1.25rem;
  font-weight: 700;
}
.card .location {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--color-btn-2);
}
