.nav {
  height: 162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 126px;
  background: url('../../assets/desktop/bg-pattern-header.svg');
  background-position: left center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  position: relative;
}
@media (max-width: 1051px) {
  .nav {
    padding: 0 20px;
    height: 100px;
  }
}
